button.location {
  background: #e2e6ea;
  display: block;
  margin: 0;
}

button.location:hover {
  background: #cccfd3;
}

div.current-location {
  padding-left: 10px;
}

button.search {
  background: #047bfe;
  border: 1px solid #047bfe;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-rendering: auto;
  line-height: 1;
}

button.search:hover {
  background: #0461c5;
  border: 1px solid #0461c5;
}

div.search-bar {
  padding-left: 0;
  padding-right: 20px;
}

button.button-c {
  border-radius: 100%;
}

button.button-c:hover {
  background: #047bfe;
}

button.button-f {
  border-radius: 100%;
}

button.button-f:hover {
  background: #5b5b5c;
  border-color: #5b5b5c;
}
div.degree-button {
  margin-left: 5px;
}

h1 {
  font-weight: 900;
  padding-left: 25px;
}

h2.current-day,
h2.current-weather {
  font-weight: 300;
  padding-left: 25px;
  text-transform: capitalize;
}

p.temperature {
  font-size: 80px;
  font-weight: 700;
  line-height: 0.8;
  display: inline;
  text-align: left;
}

div.current-info {
  margin-left: 50px;
}

h2.carousel {
  font-weight: 700;
  margin-top: 10px;
}

button,
h1,
h2.current-day,
h2.current-weather,
p,
fa-location-arrow,
h2.carousel,
h5.h5-min-max {
  color: #343a40;
  font-family: "Roboto Mono", monospace;
  margin-bottom: 0;
}

img.weather-icon {
  width: 120px;
  height: 120px;
}

div.degree-toggle {
  margin-left: 20px;
  padding: 0;
}

div.row-humidity,
div.row-wind {
  line-height: 0;
  height: 34px;
  text-align: left;
}

h5.min-max {
  font-size: 22px;
}

.container {
  margin: 0 auto;
  margin-top: 40px;
  width: 900px;
}

.c-main {
  background-image: linear-gradient(120deg, #a3c8df 0%, #ebedee 100%);
  border: none;
  box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.2);
  width: 900px;
}

.search-bar-row {
  padding-left: 25px;
  margin: 20px 0;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.img-wind-large,
.img-humidity-large {
  font-size: 30px;
  margin-top: 15px;
  margin-left: 10px;
}

.img-humidity-large {
  color: #9a9c9e;
}

.p-humidity-large,
.p-wind-large {
  margin-left: 20px;
  display: inline;
  font-size: 24px;
  font-weight: 300;
}

.card-img-top {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
}

.p-wind-small,
.p-humidity-small {
  font-size: 18px;
  display: inline;
  font-weight: 300;
}

.img-wind-small,
.img-humidity-small {
  font-size: 20px;
  margin-top: 15px;
  display: inline;
}

.img-humidity-small {
  color: #9a9c9e;
}

.all-weather-cards {
  margin: 0;
  padding: 0px 24px;
}

.c-carousel {
  background-image: linear-gradient(120deg, #a3c8df 0%, #ebedee 100%);
  border: none;
}

.weather-card {
  border: none;
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.2);
}

.code-link {
  margin-left: 300px;
  padding-top: 10px;
}
